name: nolog

permissions:
    contents: write
    issues: write
    pull-requests: write

on:
    workflow_dispatch:
    push:
    pull_request:
    schedule:
        - cron: '7 * * * *'

jobs:
    blog-update-with-notion:
        runs-on: ubuntu-latest
        outputs:
            changes_detected: ${{ steps.commit_changes.outputs.CHANGES_DETECTED }}

        steps:
            - uses: actions/checkout@v2

            - name: Checkout Blog Repository
              uses: actions/checkout@v2
              with:
                  repository: ${{ secrets.BLOG_REPO }}
                  token: ${{ secrets.GITTOKEN }}
                  path: 'blog-repo'

            - name: Use Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: '18'

            - name: Install Dependencies
              run: npm install

            - name: Install TypeScript
              run: npm install --save-dev typescript

            - name: Build
              run: npx tsc

            - name: Run Script
              run: node ./index.js
              env:
                  NOTION_KEY: ${{ secrets.NOTION_KEY }}
                  NOTION_DATABASE_ID: ${{ secrets.NOTION_DATABASE_ID }}
                  BLOG_URL: ${{ secrets.BLOG_URL }}
                  SAVE_DIR: 'blog-repo/${{ secrets.SAVE_DIR }}'
                  SAVE_SUB_DIR: ${{ secrets.SAVE_SUB_DIR }}
                  BLOG_REPO: ${{ secrets.BLOG_REPO }}
                  GIT_USER_NAME: ${{ secrets.GIT_USER_NAME }}
                  GIT_USER_EMAIL: ${{ secrets.GIT_USER_EMAIL }}

            - name: Commit and Push Changes to Current Repository
              run: |
                  git config user.name '${{ secrets.GIT_USER_NAME }}'
                  git config user.email '${{ secrets.GIT_USER_EMAIL }}'
                  git add .
                  git commit -m "Update metadata" || echo "No changes to commit in current repo"
                  git remote set-url origin https://x-access-token:${{ secrets.GITTOKEN }}@github.com/${{ github.repository }}.git
                  git push origin HEAD:master

            - name: Set Git remote URL with token and Commit and Push Changes
              id: commit_changes # 이 단계에 ID 부여
              run: |
                  cd blog-repo
                  git remote set-url origin https://${{ secrets.GITTOKEN }}@github.com/${{ secrets.BLOG_REPO }}
                  git config user.name '${{ secrets.GIT_USER_NAME }}'
                  git config user.email '${{ secrets.GIT_USER_EMAIL }}'
                  git add .
                  CHANGES=$(git status --porcelain)
                  if [ -n "$CHANGES" ]; then
                    echo "Changes detected, committing and pushing to blog repository"
                    git commit -m "Auto Update blog contents"
                    echo "CHANGES_DETECTED=true" >> $GITHUB_OUTPUT
                  else
                    echo "No changes to commit"
                    echo "CHANGES_DETECTED=false" >> $GITHUB_OUTPUT
                  fi
                  git push

    blog-deploy:
        needs: blog-update-with-notion
        if: needs.blog-update-with-notion.outputs.changes_detected == 'true'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Blog Repository
              uses: actions/checkout@v2
              with:
                  repository: '${{ secrets.BLOG_REPO }}'
                  token: ${{ secrets.GITTOKEN }}

            - name: Use Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: 20.3.1

            - name: Install node packages
              run: npm install

            - name: Build
              run: npm run build

            - name: Set up GitHub token
              env:
                  GITHUB_TOKEN: ${{ secrets.GITTOKEN }}
              run: git config --global user.email "${{ secrets.GIT_USER_EMAIL }}" && git config --global user.name "${{ secrets.GIT_USER_NAME }}"

            - name: Set Git remote URL with token
              run: git remote set-url origin https://${{ secrets.GITTOKEN }}@github.com/${{ secrets.BLOG_REPO }}
            
            - name: Set CNAME
              run: echo 'tech.hyperpipe.kr' > public/CNAME
            
            - name: Deploy to GitHub Pages
              run: npx gh-pages -d public
